APP_NAME=SIM-LPU
APP_ENV=production
APP_KEY=base64:Y6vazX5nZdfz78MOjV6Mle+74uY4jdqjeWi9QTM3Gno=
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://YOUR-BACKEND.up.railway.app

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=sqlite
DB_DATABASE=/app/storage/database.sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=120

QUEUE_CONNECTION=sync
CACHE_STORE=database
FILESYSTEM_DISK=local

FRONTEND_URL=https://ocrnerverify.vercel.app
SANCTUM_STATEFUL_DOMAINS=ocrnerverify.vercel.app

OCR_NER_API_URL=http://localhost:5001/extract
OCR_NER_USE_MOCK=true
