OCR_NER_TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe
OCR_NER_POPPLER_PATH=C:\Program Files\poppler-25.07.0\Library\bin
OCR_NER_HOST=0.0.0.0
OCR_NER_PORT=5001
OCR_NER_NER_MODEL_NAME=cahya/bert-base-indonesian-NER
OCR_NER_OCR_DPI=300
OCR_NER_OCR_LANG=ind+eng
OCR_NER_MAX_FILE_SIZE_MB=10
OCR_NER_LOG_LEVEL=INFO
